@import '../../stylesheets/variables';

main#app {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: red;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.pages {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // padding: $border-size $border-size ($border-size + $border-size) $border-size;
}

@media #{$break-medium} {
  .pages {
    // padding: $border-size $border-size $border-size ($border-size + $nav-width);
  }
}
