/*
 * Shared menu styles
 */
.menu {
  ul {
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .btn {
    fill: $white;
    cursor: pointer;
    width: 20px;
    transition: fill 0.2s ease;
    &:hover { fill: $blue; }
    &:hover::after { display: none; }
  }
  .btn.disabled {
    fill: rgba($white, 0.2);
    cursor: default;
    transition: opacity .3s ease;
  }
}

/* ---------- Desktop ------------ */

.menu--desktop {
  /* This is used to center the vertical navigation
   * inside the sidebar. This is called height, because it's
   * visual use. It really set the height
   */
  $nav-height: 30px;
  $nav-length: 600px;

  position: relative;
  width: $nav-width;
  height: 100%;
  float: right;
  user-select: none;
  border-right: 1px solid $babyBlue;
  // border-left: 1px solid rgba($white, 0.1); // Uses scrollbar as border instead
  transform: translateZ(0);
  backface-visibility: hidden;
  .menu__vertical {
    margin: 0 auto;
    height: 100%;
    width: $nav-height;
    transform: translateZ(0);
  }
  .menu__vertical__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateY(0);

    //  Prevnt overlay on normal content
    width: 0;
    left: -($nav-length/2);

    ul {
      position: relative;
      left: -50%;
      transform: rotate(90deg) translateY(-50%) translateZ(0);
      width: $nav-length; // Can work with auto, but not with relative on sidebar itself
      height: $nav-height;
      line-height: $nav-height;
    }
  }
  .menu__top,
  .menu__bottom,
  .menu__middle-bg {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    transform: translateZ(0);
  }
  .menu__top {
    top: 0;
    margin-top: 20px;
    .btn {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  .menu__bottom {
    bottom: 0;
    z-index: 2;
    font-size: 7px;
    margin-bottom: 20px;
    color: $blue;
    transition: color $secondary-sec $secondary-ease;
    .year { padding-right: 4px; } // Optical center
    .mini-logo {
      width: 25px;
      margin: 0 auto;
      padding-bottom: 5px;
      .logo {
        fill: $blue;
        transition: fill $secondary-sec $secondary-ease;
      }
    }
  }
  .menu__middle-bg {
    z-index: 0;
    top: 50%;
    color: rgba($babyBlue, 0.35);
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 40px;
    user-select: none;
    pointer-events: none;
    transition: color $secondary-sec $secondary-ease;
  }
}
// dark mode
.dark .menu--desktop {
  .menu__bottom { color: $white; }
  .mini-logo .logo { fill: $white; }
  .menu__middle-bg { color: rgba($white, 0.1); }
}

/* ----------- Mobile -------------- */

.menu--mobile {
  position: relative;
  height: $nav-mobile-height;
  border-top: 1px solid $babyBlue;
  border-bottom: 1px solid rgba($white, 0.1);
  transform: translateZ(0);
  backface-visibility: hidden;
  .navigation {
    position: absolute;
    width: 100%;
    height: $nav-mobile-height;
    div {
      position: absolute;
      top: 50%;
      transform: translateY(-35%);
      width: 100%;
      .btn {
        display: inline-block;
        margin: 0 20px;
      }
      .btn--prev { float: left; }
      .btn--close { float: right; }
    }
  }
  .section-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: $nav-mobile-height;
    line-height: $nav-mobile-height;
    text-align: center;

    color: rgba($babyBlue, 0.35);
    font-weight: 600;
    font-size: 40px;
    user-select: none;
    pointer-events: none;
    transition: color $secondary-sec $secondary-ease;
  }
  .menu-links {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    ul {
      position: relative;
      height: $nav-mobile-height;
      line-height: $nav-mobile-height;
    }
  }
}
.open .menu--mobile {
  transform: translateY(-1px); // Hide border
}

/*
 * Transitions
 */
.menu--mobile {
  .section-transition {
    transition: all 0.3s ease;
    transform: scale(1);
  }
  .section-enter, .section-leave {
    opacity: 0;
    transform: scale(0);
  }
  .nav-transition {
    transition: all 0.5s ease;
    transform: scale(1);
  }
  .nav-enter, .nav-leave {
    transform: scale(0);
    opacity: 0;
  }
}
