/*
 * Primary - Container for stages
 */
.primary { display: none; }

.stage {
  color: $blue;
  width: 100%;
  max-width: 1200px;
  transform: rotateZ(0);
  backface-visibility: hidden;
  .stage__inner {
    padding: 0 8%;
  }
}

@media #{$break-landscape} {
  .stage { width: 80%; }
  .stage__inner { padding: 0 2%; }
}


/*
 * HOME STAGE
 */
 .stage--home {
   width: 150%;
   text-align: center;
   h1 {
     font-size: 6em;
     font-weight: 600;
     white-space: nowrap
   }
   p {
     font-size: 1.2em;
     font-weight: 300;
     text-transform: uppercase;
     margin: 0;
     letter-spacing: 1.5px;
   }
 }
 @media #{$break-medium} {
   .stage--home {
     width: 100%;
     h1 {
       font-size: 7em;
     }
   }
 }
 @media #{$break-landscape} {}


/*
 * CASES STAGE
 */
 .stage--cases {
   /**
    * Responsive ratio anything (block or inline-block element)
    */
   .container {
     width: 100%;
     list-style: none;
     margin: 0 auto;
     padding: 0;
   }
   .block {
     display: block;
     text-align: center;
     box-sizing: border-box;
     font-size: 17px;
     cursor: pointer;
   }
   .inner-block {
     &::after {
       display: none;
     }
   }
   .responsive-element {}
   .content {
     margin-bottom: 50px;
     h2 {
       font-size: 1.75em;
       line-height: 1;
       position: relative;
     }
     .link {
       position: relative;
       text-transform: uppercase;
       font-size: 0.70em;
       font-weight: 600;
     }
   }
   .block:hover {
     &::after { display: none; }
     .responsive-element { background-color: transparent; }
     .content {
       h2::after { height: 60%; }
     }
   }
 }

 @media #{$break-medium} {
   .stage--cases {
     .container {}
     .block {
     	width: 33.3333%;
       padding: 3% 3.5%;
       text-align: left;
       float: left;
     }
     .inner-block {
       position: relative;
       display: block;
       width: 100%;
       background-size: cover;
       &::after { display: none; }
       /* padding bottom of desired height / desired width */
       padding-bottom: 65%;
     }
     .content {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       left: -8%;
       font-size: 1em;
       margin: 0;
       h2 {
         line-height: 1;
         position: relative;
         &::after {
           position: absolute;
           display: inline-block;
           content: '';
           height: 0%;
           bottom: -0.10em;
           left: -0.15em;
           right: -0.15em;
           z-index: -1;
           pointer-events: none;
           background-color: $yellow;
           backface-visibility: hidden;
           transform: translateZ(0);
           transition: height 0.2s cubic-bezier(0.54, 0.08, 0, 1.18),
                       background $secondary-sec $secondary-ease;
         }
       }
     }
   }
   .responsive-element {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba($babyBlue, 0.50);
     transition: background 0.4s ease;
     transform: translateZ(10px); // Avoid text going beghind image
   }
 }

 @media #{$break-large} {
   .stage--cases {}
 }

 @media #{$break-medium-landscape} {
   .stage--cases {
     background-color: red;
     .block {
        padding: 2.5% 2.5%;
        font-size: 15px;
     }
     .content {}
   }
 }


/*
 * ABOUT STAGE
 */
.stage--about {
  width: 150%;
  .stage__inner { padding: 0 20px; }
  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 500px;
    text-align: center;
  }
  .profile {
    display: none;
    img {}
  }
  .content { flex: 4; }
  h2 {
    font-size: 2em;
    display: inline-block;
    white-space: nowrap;
  }
  p {
    margin-top: 15px;
    font-size: 1.2em;
    line-height: 1.6;
  }
  a { font-weight: 600; }
}

@media #{$break-small} {
  .stage--about {
    width: 100%;
    .stage__inner { padding: 0 8%; }
  }
}

@media #{$break-medium} {
 .stage--about {
    width: 100%;
    .container {
      max-width: 900px;
      text-align: left;
    }
    .content { padding-left: 5%; }
    h2 { font-size: 2.4em; }
    .profile {
      display: flex;
      flex: 1.25;
      align-self: stretch;
      img {
        align-self:center;
        border-radius: 50%;
        flex: 1;
        width: 100%;
        height: 100%;
      }
    }
  }
}


/*
 * CONTACT STAGE
 */
.stage--contact {
  .stage__inner { padding: 0; }
  .container {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.2em;

    .social {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      svg { fill: $blue; }
      &::before {
         content: '';
         display: block;
         width: 100px;
         height: 2px;
         background-color: $blue;
         margin: 28px auto;
      }
    }
    li {
      margin: 0 10px;
      margin-bottom: 14px;
      display: inline-block;
    }
    a {
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}
