.secondary-content {
  $case-content-width: 100%;
  position: relative;
  color: $white;
  line-height: 1.85;
  width: 100%;

  .pagination {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.65em;
    margin-bottom: 20px;
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
    margin: 10% 0;
  }
  img.cover {
    margin: 0;
    max-height: 500px;
  }

  .head__content {
    margin: 35px 0;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    h1 {
      font-size: 2.5em;
      color: $white;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 0;
      &::after { height: 0; }
    }
    .line {
      &::before {
        height: 1px;
        background: $blue;
      }
      color: $white;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: 600;
      letter-spacing: 1.2px;
    }
    &:hover h1::after { height: 55%; }
  }

  .body {
    margin: 0 auto;
    font-size: 1.0em;
    p {
      width: $case-content-width;
      margin: 0 auto;
    }
    h3 {
      width: $case-content-width;
      margin: 0 auto;
      font-size: 1em;
    }
  }
  .body__details {
    width: $case-content-width;
    margin: 40px auto;
    font-size: 0.90em;
    .body__details__columns {
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .column {
      width: 50%;
      list-style: none;
      display: block;
      float: left;
      box-sizing: border-box;
    }
    .column--two {
      width: 100%;
      .column__list li {
        width: 50%;
        float: left;
      }
    }
    .column__list {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.65;
      li { margin-bottom: 0 }
    }
    h5 {
      font-weight: 200;
      text-transform: uppercase;
      font-size: 0.70em;
      letter-spacing: 1px;
      color: $babyBlue;
      margin: 0 0 10px 0;
      &::after {
        content: '';
        height: 1px;
        display: block;
        background-color: rgba($white, 0.1);
        width: 100%;
        margin: 4px 0;
      }
    }
  }
  .embed-container {
    margin: 10% 0;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media #{$break-small} {
  .secondary-content {
    $case-content-width: 100%;
    img { margin: 6% 0; }
    .head { position: relative; }
    .head__content {
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4.5%;
      h1 { font-size: 2.5em; }
    }
    .body {
      font-size: 1.2em;
    }
    .embed-container {
      margin: 6% 0;
    }
  }
}

@media #{$break-medium} {
  .secondary-content {
    $case-content-width: 85%;
    .pagination {
      margin-bottom: 0;
      top: -25px;
    }
    .head__content {
      left: -8%;
      h1 { font-size: 3.5em; }
    }
    .body {
      p, h3 { width: $case-content-width; }
    }
    .body__details {
      margin: 50px auto;
      width: $case-content-width;

      .column {
        width: 25%;
        &:not(:last-child) { padding-right: 20px; }
      }
      .column--two {
        width: 50%;
      }
      .column__list {}
    }
  }
}

@media #{$break-large} {
  .secondary-content {
    $case-content-width: 70%;
    .body {
      p, h3 { width: $case-content-width; }
    }
    .body__details {
      width: $case-content-width;
    }
  }
}

/*
 * About / CV
 */
.secondary-content--cv {
  .head {
    margin-bottom: 40px;
  }
}
