/*
 * Colors
 */
 $white: #FFFFFF;
 $dark: #272727;
 $blue: #3545E5;
 $babyBlue: #CFDDF9;
 $yellow: #FFE88E;

/*
  Sizes
*/
$border-size: 5px;
$nav-width: 70px;
$nav-mobile-height: 60px;

/*
  Transitions time to secondary
*/
$secondary-sec: 0.7s;
$secondary-ease: ease-in-out;

/*
  Media Queries
 */
$xsmall: 550px;
$small: 650px;
$medium: 900px + $nav-width;
$large: 1100px + $nav-width;

$break-small: "only screen and (min-width: #{$xsmall})";
$break-small-only: "only screen and (min-width: #{$xsmall}) and (max-width: #{$small})";
$break-medium: "only screen and (min-width: #{$medium})";
$break-medium-only: "only screen and (min-width: #{$medium}) and (max-width: #{$large})";
$break-large: "only screen and (min-width: #{$large})";

$break-landscape: "screen and (orientation:portrait)";
$break-medium-landscape: "only screen and (min-width: #{$medium}) and (max-width: #{$large}) and (orientation:portrait)";
$break-medium-up-landscape: "only screen and (min-width: #{$medium}) and (orientation:portrait)";
