@import './variables';
@import 'mixins';

*,
*:before,
*:after { box-sizing: border-box;}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'canada-type-gibson','Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  position: relative;
  color: $blue;
  text-decoration: none;
  transition: color $secondary-sec $secondary-ease;
  .dark & { color: $white; }
}
a::after {
  position: absolute;
  display: inline-block;
  content: '';
  height: 0.5em;
  bottom: 0.1em;
  left: -0.15em;
  right: -0.15em;
  z-index: -1;
  transition: all 0.2s ease;
  pointer-events: none;
  transform: scaleY(0.0);
  transform-origin: bottom;
  background-color: $yellow;
  transition: transform 0.2s cubic-bezier(0.54, 0.08, 0, 1.18),
              background $secondary-sec $secondary-ease;
  .dark & { background-color: $blue; }
}
a:hover::after,
a.active::after {
  //height: 0.5em;
  transform: scaleY(1);
}
