@import './variables';
@import 'mixins';

*,
*:before,
*:after { box-sizing: border-box;}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  font-family: 'canada-type-gibson','Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
 * Default link
 */
a {
  position: relative;
  color: $blue;
  text-decoration: none;
  transition: color $secondary-sec $secondary-ease;
  backface-visibility: hidden;
  .dark & { color: $white; }
}
a::after {
  position: absolute;
  display: inline-block;
  content: '';
  height: 0.0em;
  bottom: 0.1em;
  left: -0.15em;
  right: -0.15em;
  z-index: -1;
  pointer-events: none;
  background-color: $yellow;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: height 0.2s cubic-bezier(0.54, 0.08, 0, 1.18),
              background $secondary-sec $secondary-ease;
  .dark & { background-color: $blue; }
}
a:hover::after,
a.active::after {
  height: 0.5em;
}

/*
 * Link with line
 */
.line {
  position: relative;
  padding-left: 2em;
  &::before {
    content: '';
    position: absolute;
    background-color: $blue;
    width: 1.5em;
    height: 0.2em;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .dark &::before { background-color: $white; }
}

/*
 * Back box
 */
.boxed {
  position: relative;
  &::after {
    position: absolute;
    display: inline-block;
    content: '';
    height: 0.5em;
    bottom: 0.1em;
    left: -0.15em;
    right: -0.15em;
    z-index: -1;
    pointer-events: none;
    background-color: $yellow;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: height 0.2s cubic-bezier(0.54, 0.08, 0, 1.18),
                background $secondary-sec $secondary-ease;
  }
  .dark &::after { background-color: $blue; }
}



// TODO: Move to right component.
// If mobile, bigger scrollbar!
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: $blue;
}

::-webkit-scrollbar-track {
  background: #242424;
}

::selection {
  background: $yellow;
}

main#app {
  position: relative;
  width: 100%;
  min-height: 100%;
}

h1, h2 {
  margin: 0;
  padding: 0;
}
