/*
 * Colors
 */
 $white: #FFFFFF;
 $dark: #272727;
 $blue: #3545E5;
 $babyBlue: #CFDDF9;
 $yellow: #FFE88E;

/*
  Sizes
*/
$border-size: 5px;
$nav-width: 70px;
$nav-mobile-height: 70px;

/*
  Transitions time to secondary
*/
$secondary-sec: 0.7s;
$secondary-ease: ease-in-out;

/*
  Media Queries
 */
$small: 400px;
$medium: 700px + $nav-width;
$large: 900px + $nav-width;

$break-small-only: "only screen and (max-width: #{$small})";
$break-medium: "only screen and (min-width: #{$medium})";
$break-medium-only: "only screen and (min-width: #{$medium}) and (max-width: #{$large})";
$break-large: "only screen and (min-width: #{$large})";
