<aside class="secondary" v-el:secondary>
  <div class="secondary__inner" v-el:inner>

    <div class="menu">
      <div class="menu__top">
        <topnav></topnav>
      </div>
      <div class="menu__middle-bg">{{ section }}</div>
      <div class="menu__vertical">
        <nav class="menu__vertical__inner">
          <ul>
            <li><a href="#" @click=clickNavigation>Home</a></li>
            <li><a href="#">Cases</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="menu__bottom">
        <div class="mini-logo">
          <logo></logo>
        </div>
        	&copy;{{year}}
      </div>
    </div>

  </div>
</aside>
