/*
 * Colors
 */
 $white: #FFFFFF;
 $dark: #272727;
 $blue: #3545E5;
 $babyBlue: #CFDDF9;
 $yellow: #FFE88E;


/*
  Sizes
*/
$nav-width: 70px;
$border-size: 4px;

/*
  Transitions time to secondary
*/
$secondary-sec: 0.7s;
